@font-face {
  font-family: 'Blanche';
  src: url('./fonts/Blanche_de_la_Fontaine.ttf');
}
@font-face {
  font-family: 'Luxi';
  src: url('./fonts/luxisb.ttf');
}
@font-face {
  font-family: 'Caviar Dreams';
  src: url('./fonts/Caviar_Dreams_Bold.ttf');
}
@font-face {
  font-family: 'Encode Sans';
  src: url('./fonts/EncodeSans-Light.ttf');
}

body {
  font-family: 'Blanche', Ariel, sans-serif;
  color: white;
  text-decoration: none;
}

h1 {
  font-family: 'Blanche', Ariel, sans-serif;
  font-size: 150px;
  margin: 0;
  letter-spacing: 7px;
}
h2 {
  font-family: 'WorkSans', Ariel, sans-serif;
  font-size: 28px;
  letter-spacing: 3px;
  font-weight: lighter;
}

.background, .outer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.background {
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
}

.outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.outer > * {
  text-align: center;
}

.links {
  margin-top: 30px;
  width: 50%;
  display: flex;
  justify-content: space-around;
}
