body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}
body {
  font-family: 'Encode Sans', Ariel, sans-serif;
  color: black;
  text-decoration: none;
  background-color: rgba(202, 208, 224, 0.9);
  background-color: rgba(164, 182, 226, 0.9);
}

header,
footer {
  background: #1D1D1D;
  color: #ffffff;
}

.canvas-container .background {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

#blog-link {
  background-color: transparent;
  font-size: 28px;
  letter-spacing: 3px;
  position: absolute;
  top: 20px;
  right: 20px;
  margin: 10px;
  border: 1px solid white;
  padding: 10px;
  color: white;
}

#blog-link:hover {
  cursor: pointer;
  background-color: rgba(202, 208, 224, 0.9);
}


.top {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}


.credentials {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.credentials h2 {
  color: white;
  font-weight: 600;
  font-size: 40px;
  letter-spacing: 3px;
  font-weight: lighter;
}

.credentials h2:last-of-type {
  align-self: flex-end;
}


.credentials h1.title {
  font-family: 'wreath_halftoneregular', Ariel, sans-serif;
  font-size: 180px;
  color: white;
  line-height: 1;
  margin-top: 120px;
}

.credentials h2 strong {
  font-weight: 600;
}

.canvas-container {
  /*position: relative;*/
  width: 100%;
}


.evidence {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 30px;
}

.evidence img {
  height: 40px;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 32px;
}


.about .links {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 25px 50px 0 50px;
}
.icon {
  font-size: 32px;
}
.ion-social-octocat {
  color: rgb(32, 31, 31);
}
.ion-social-linkedin-outline {
  color: rgb(0, 119, 181);
}
.ion-social-twitter {
  color: rgb(64, 153, 255);
}
.ion-social-octocat:hover {
  color: rgba(32, 31, 31, 0.7);
}
.ion-social-linkedin-outline:hover {
  color: rgba(0, 119, 181, 0.7);
}
.ion-social-twitter:hover {
  color: rgba(64, 153, 255, 0.7);
}

.about {
  min-width: 50%;
  max-width: 600px;
  line-height: 1.3em;
  text-align: justify;
  background-color: white;
  margin-bottom: 50px;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 24px;
}
.about div {
  padding: 50px;
}


a, a:visited, a:-webkit-any-link {
  color: rgb(209, 12, 47);
  text-decoration: none;
}

a:hover {
  color: rgba(209, 12, 47, 0.5);
  text-decoration: none;
}
