@media (max-width: 450px) {

  .top {
    padding: 0 1em;
    height: 90vh;
    margin-bottom: 10vh;
  }

  .credentials h1.title {
    font-size: 6em;
    text-align: center;
    margin-top: 90px;
  }

  .credentials h2 {
    font-size: 1.3em;
    /*text-align: center;*/
  }

  .credentials h2:last-of-type {
    margin-top: 30px;
    text-align: right;
  }
  .credentials h2:last-of-type span {
    display: inline-block;
  }

  .ion-ios-arrow-down {
    color: white;
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    text-align: center;
  }

  .ion-ios-arrow-down.hidden {
    visibility: hidden;
  }

  .about {
    width: 95vw;
    font-size: 16px;
  }

  .about div {
    padding: 5px;
    text-align: center;
  }

  .about .links {
    /*display: none;*/
    /*position: absolute;*/
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px;
  }

  .icon {
    font-size: 50px;
  }
}
